<div class="container">

<h1>Miguel Pedrero</h1>
<br><br>

<h2> FORMULARIO </h2>

<form  action="<%= publics_save_user_path %>" method="post">

	Nombre: <input name="name" Placeholder="Nombre">
	<br><br>
	Correo: <input name="email" Placeholder="Correo">
	<br><br>
	Edad: <input name="age" Placeholdere="Edad">
    <br><br>
	<input class="btn btn-primary" type="submit" value="Enviar">
</form>

</div>