<div class="container">

<h1>Miguel Pedrero</h1>
<br><br>


<div class="well" >
<h2> FORMULARIO </h2>

<form action="<%= pages_save_user_path %>" method="post">
	<%= hidden_field_tag :authenticity_token,
	form_authenticity_token %>

	Nombre: <input name="name" placeholder="Nombre" class="form-control">
	<br><br>
	Correo: <input name="email" placeholder="Correo" class="form-control">
	<br><br>
	Edad: <input name="age" placeholder="Edad" class="form-control">
    <br><br>
	<input class="btn btn-primary" type="submit" value="ENVIAR" class="form-control">

</form>

</div>

</div>

